html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

#title {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.calculator{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 550px;
    width: 450px;
    background-color: aliceblue;
}

.calculator-screen {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-indent: -3em;
    text-align: right;
    padding: 20px;
    width: 400px;
    background-clip: content-box;
    background-color: aquamarine;
}

.calculator-keys {
    display: flex;
    flex:8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    margin:auto;
    gap: 20px;
    background-clip: content-box;
    background-color: lightcoral;
}

.r1 button, .r2 button, .r3 button, .r4 button {
    width: 60px;
    height: 60px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.r5 button {
    width: 300px;
    height: 60px;
}

/* .keys {
    display: flex;
    flex-direction: column;
    width: 380px;
    
} */

.footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    gap: 20px;
}

#dev {
    text-align: center;
    margin: auto;
    width: 200px;
}

#copyright {
    text-align: center;
    margin: auto;
    width: 200px;


}